@import "../../styles/mixins";
@import "../../styles/variables";

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(black, 0.75);
  backdrop-filter: blur(3px);

  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
