/* Primary */
$Midnight: #0C204E;
$Action: #4F6EF7;

/* Secondary */
$SlateDark: #434D5A;
$Slate: #9BA3AE;
$Air: #EBEDF8;
$Feather: #F6F7FC;

/* Neutrals */
$Black: #303133;
$Grey: #E7E7E7;
$White: #FFFFFF;

/* Interface */
$Caution: #EF476F;
$Success: #2FCFA4;
$Warning: #FDB455;
