@import "reset";
@import "variables";
@import "mixins";
@import "typography";
@import "utils";
@import "form-card";

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: initial;
  text-decoration: none;
  &:hover {
    color: initial;
    text-decoration: none;
  }
}

.hero {
  background-color: #161616;
  color: white;
  display: flex;
  height: 100vh;
}

.page {
  position: relative;
  padding: 24px;
  background-color: #080a10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh;

  &__light {
    background-color: #f9fafb;
  }
}

.header {
  position: relative;
  background-color: #080a10;
  height: 468px;
  padding: 24px;

  .account {
    position: absolute;
    top: 24px;
    right: 24px;
  }
}

.account {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background-color: #141e27;
  border-radius: 3px;
  padding: 10px;
  &__icon {
    width: 36px;
    margin-right: 10px;
  }
  &__header {
    font-size: 14px;
    font-weight: 600;
    color: $White;
  }
  &__caption {
    font-size: 12px;
    font-weight: 500;
    color: #cfd8dc;
    margin-top: 6px;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: $White;
  box-shadow: 0px 2px 4px rgba(16, 21, 24, 0.05);
  border-radius: 4px;
  margin: 16px auto;

  @include desktop {
    margin: 0 10px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    color: $Black;
    padding: 28px;

    &__helper {
      font-size: 16px;
      font-weight: 600;
      color: $Blue;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  &__labels {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    border-top: 1px solid rgba(black, 0.05);
    border-bottom: 1px solid rgba(black, 0.05);
    font-size: 12px;
    font-weight: 600;
    color: #aab8c1;
    &__primary {
      flex-basis: 20%;
    }
  }

  &__cell {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.25rem 1.75rem;
    padding-left: 1.625rem;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    &:not(:last-child) {
      border-bottom: 1px solid rgba(black, 0.05);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: auto auto;

    @include desktop {
      flex-direction: row;
      transform: translateY(-100px);
    }
  }
}
