@import "../../styles/variables";

.label {
  margin-top: 10px;
  padding: 15px 20px 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: rgba($Cyan, 0.25);
  border-radius: 8px;
  &__text {
    padding: 5px 0 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 10px;
    pointer-events: none;
    user-select: none;
  }
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px 20px 15px;
  width: 100%;
  min-width: 0;
  background: none;
  border: none;
  font-size: 14px;
  color: $White;

  &::placeholder {
    color: rgba($White, 0.5);
  }
}
